<div class="flex-container">
  <div class="flex-item-buttons">
    <a class="home-btn" href='/dealerships'>See Dealership List</a>
  </div>
  <div class="flex-item-buttons">
    <a class="home-btn" href='/dealerships/new'>Add New Dealership</a>
  </div>
  <h1 class="flex-header">Welcome to Dealership Central</h1>
</div>
